.iconcount {
    font-size: 130px;
    outline: none;
    // -webkit-background-clip: text;
    // background-clip: text;
    // -webkit-text-fill-color: transparent;
    // opacity: 0.8;
   // background-image:red;
}

.plusfont{
    // font-weight: bold !important;
    //font-size: 30px !important;
    font-style: normal !important;
    font-variant-ligatures: normal !important;
    font-variant-caps: normal !important;
    font-variant-numeric: normal !important;
    font-variant-east-asian: normal !important;
    font-weight: 500 !important;
    font-stretch: normal !important;
    font-size: 30px;
    line-height: 32px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.animated-digit {
    display: inline-flex;
    height: 60px;
    width: 60px;
    color: white;
    background: rgba(0, 0, 0, 0.2) 20%;
    text-align: center;
    padding: 24px;
    border-radius: 60px;
    border: 2px solid #e8cce9;
    margin-top:1em;
    justify-content:center;
    align-items: center;
    font-size:32pt;
  }