<section class="best-wrap p-t-b-80 light-gray" id="extra-feature-wrap">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-12 section-header mb-5">
                <h2 class="font-weight-bold"> What Best For you</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ea quam laborum, ducimus, laboriosam sint dolorum aspernatur libero.</p>

            </div> -->

            <div class="col-md-4 mb-4">
                <div class="card-body pt-4 pb-4 text-center">
                    <div class="iconcount">
                        <i class="eva eva-person-add" style="background-image: none; background-color: black !important;"></i>
                    </div>
                    <h4 class="card-title font-weight-bold">Stduents</h4>
                    <h4 class="card-title font-weight-bold">2000+</h4>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card-body pt-4 pb-4 text-center">
                    <div class="iconcount">
                        <i class="eva eva-book-open"  style="background-image: none;  background-color: black !important;"></i>
                    </div>
                    <h4 class="card-title font-weight-bold">Papers</h4>
                    <h4 class="card-title font-weight-bold">2000+</h4>
                </div>
            </div>
            
            <div class="col-md-4 mb-4">
                <div class="card-body pt-4 pb-4 text-center">
                    <div class="iconcount">
                        <i class="eva eva-people" style="background-image: none;  background-color: black !important;"></i>
                    </div>
                    <h4 class="card-title font-weight-bold">Teachers</h4>
                    <h4 class="card-title font-weight-bold">2000+</h4>
                </div>
            </div>




        </div>
    </div>
</section>