<nav navbar-brand-two d-inline-block id="home-header" class="navbar navbar-expand-lg text-16 header-fixed" style="background-color: white;">
    <!-- navbar-brand-two d-inline-block"    /hover -->
    <div class="container">
        <div class="d-flex justify-content-between flex-grow-1 mobile_menu">
            <!-- <a class="navbar-brand d-none d-lg-inline-block" href="#">Navbar 6</a> -->
            <a  href="#">
                <img  src="assets/images/landing/lOGO_d/newlogo.png" alt="logo">
            </a>
            <div class=" text-right">
                <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                    <i class="eva eva-menu-outline text-30 text-white d-none d-md-block"></i>
                    <span class="navbar-toggler-icon d-block d-md-none">
                        <!-- <i class="eva eva-menu-outline text-30 text-white"></i> -->
                    </span>
                    <span class="navbar-toggler-icon d-block d-md-none">
                        <!-- <i class="eva eva-menu-outline text-30 text-white"></i> -->
                    </span>
                    <span class="navbar-toggler-icon d-block d-md-none">
                        <!-- <i class="eva eva-menu-outline text-30 text-white"></i> -->
                    </span>
                </button>
            </div>
        </div>
        <div class="collapse  navbar-collapse flex-grow-1 text-right" id="collapseExample" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav ml-auto flex-nowrap">
                <li class="nav-item" (click)="hidemenu()">
                    <a href="#" class="nav-link m-2 menu-item nav-active">HOME</a>
                </li>
                <li (click)="hidemenu()" class="nav-item">
                    <a href="#"  class="nav-link m-2 menu-item nav-active">PAST PAPERS</a>
                </li>
                <li (click)="hidemenu()" class="nav-item">
                    <a href="#"  class="nav-link m-2 menu-item nav-active">MODEL PAPERS</a>
                </li>
                <li (click)="hidemenu()" class="nav-item">
                    <a href="#"  class="nav-link m-2 menu-item">BLOG</a>
                </li>
                <!-- <li (click)="hidemenu()" class="nav-item">
                    <a href="#" scrollTo="teams-wrap" class="nav-link m-2 menu-item">Tutors</a>
                </li>
                <li (click)="hidemenu()" class="nav-item">
                    <a href="#" scrollTo="contacts-wrap" class="nav-link m-2 menu-item">Contact Us</a>
                </li>
                <li (click)="hidemenu()" class="nav-item">
                    <a class="nav-link m-2 menu-item"></a>
                </li>
                <li (click)="hidemenu()" class="nav-item">
                    <a  class="nav-link m-2 menu-item"></a>
                </li> -->
                <!-- drop down menu start -->
                <div style="padding-right: 5px;">
                    <!-- <li (click)="hidemenu()" class="nav-item">
                        <a routerLink="/sessions/signin" class="nav-link m-2 menu-item">SignIn</a>
                    </li> -->
                    <li (click)="hidemenu()" class="nav-item" style="padding-top: 10px;">
                        <a routerLink="/sessions/signup" class="btn btn-warning">Sign in/Sign up</a>
                    </li>
                </div>
                <!-- <li class="nav-item">
                    <a class="nav-link m-2 menu-item"></a>
                    <ul>
                        <li (click)="hidemenu()" class="nav-item">
                            <a href="" scrollTo="teams-wrap" class="  menu-item">සිංහල</a>
                        </li>
                        <li (click)="hidemenu()" class="nav-item">
                            <a href="" scrollTo="testimonials-wrap" class="  menu-item">English</a>
                        </li>
                        <li (click)="hidemenu()" class="nav-item">
                            <a href="" scrollTo="extra-feature-wrap" class="  menu-item">தமிழ்</a>
                        </li>
                    </ul>
                </li> -->
            </ul>
        </div> 
    </div>
</nav>
