<section class="footer_wrap" id="footer-wrap" style="background-color:white;  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-4">
                <div class=" o-hidden text-left">
                    <div class="">
                        <h4 class="card-title font-weight-bold">E-Panthiya</h4>
                        <p class="">E-panthiya is an online learning platform which provides limitless functionality to
                            learn via internet and available from anywhere and without charge
                        </p>
                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-3 mb-4">
                <div class=" o-hidden text-left">
                    <div class=" ">
                        <h4 class="card-title font-weight-bold">QUICK LINKS</h4>
                        <div class=" mb-5 lead">
                            <ul class="list-inline">
                                <li class=" mb-3 "> <a class="fontclour" href="#">Home</a></li>
                                <li class=" mb-3 "><a class="fontclour" href="">Past Papers</a></li>
                                <li class=" mb-3 "><a class="fontclour" href="">Model Papers</a></li>
                                <li class="mb-3"> <a class="fontclour" href="#">Blog</a></li>
                                <li class=" mb-3"><a class="fontclour" href="#">Sign In </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-3 mb-4">
                <div class=" o-hidden text-left">
                    <div class=" ">
                        <h4 class="card-title font-weight-bold">HELP & SUPPORT</h4>
                        <div class=" mb-5 lead">
                            <ul class="list-inline">
                                <li class=" mb-3 "> <a class="fontclour" href="#">Contact</a></li>
                                <li class=" mb-3 "><a class="fontclour" href="#">FAQ</a></li>
                                <li class=" mb-3 "> <a class="fontclour" href="#">Terms & Conditions</a></li>
                                <li class=" mb-3 "><a class="fontclour" href="#">Privancy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col -->
            <div class="col-md-3  mb-lg-0 mb-md-0">
                <div class=" o-hidden text-left">
                    <div class="">
                        <h4 class="card-title font-weight-bold">CONTACT</h4>
                        <div class="address-wrap mb-3">

                            <ul class="list-group list-unstyled">
                                <li class="fontclour"> <i class="eva eva-pin-outline mr-2" style="background-image: none;  background-color: black !important;"></i>Lorem Ispum, Lorem ispum</li>
                            </ul>
                        </div>
                        <div class="address-wrap mb-3">
                            <ul class="list-group list-unstyled">
                                <li class="fontclour"><i class="eva eva-email-outline mr-2" style="background-image: none;  background-color: black !important;"></i>info@epanthiya.com</li>

                            </ul>
                        </div>
                        <div class="address-wrap mb-3">
                            <ul class="list-group list-unstyled">
                                <li class="fontclour"><i class="eva eva-phone-call-outline mr-2" style="background-image: none;  background-color: black !important;"></i> +94 (11) 2 000 0000</li>
                            </ul>
                        </div>
                        <section class="social-wrap ">
                            <div class="social-btns-wrap">
                                <a  href="#"><i class="eva eva-facebook fontclour" style="background-image: none;  background-color: black !important;"></i></a>
                                <a href="#"><i class="eva eva-twitter" style="background-image: none;  background-color: black !important;"></i></a>
                                <a  href="#"><i class="eva eva-google" style="background-image: none;  background-color: black !important;"></i></a>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <!-- end of col -->
        </div>
    </div>
</section>