img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.button_arrow {
  font-size: 40px !important;
}

.alt-container {
  background-color: #f8f9fa !important;
}